<ion-content class="ion-padding scanner-magnolia">
  <img
    class="logo"
    src="../../../assets/img/DUOC.png"
    alt="duoc padre
      alonso ovalle"
  />

  <h1 style="padding-bottom: 10px">Registro de asistencia</h1>

  <ion-button
    (click)="startScanner()"
    expand="block"
    color="ion-color-warning"
    class="primario-bg-button"
    >Escanear QR</ion-button
  >
  <ion-button
    (click)="back()"
    expand="block"
    color="ion-color-warning"
    class="primario-bg-button"
    >Volver</ion-button
  >
</ion-content>
