<ion-header>
  <ion-toolbar
    class="ion-margin-top primario-bg-navbar"
    expand="block"
    color="ion-color-warning"
  >
    <ion-title>Pagina no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/img/error-404.png"></ion-img>

  <ion-button
    [routerLink]="['/ingreso']"
    routerLinkActive="router-link-active"
    class="ion-margin-top primario-bg-button"
    expand="block"
    color="ion-color-warning"
    >Volver a la pagina principal</ion-button
  >
</ion-content>
